.row {
  padding-block: 10px;
}
.rowSelected {
  background-color: gainsboro;
}
img {
  height: 20px;
  &:hover {
    cursor: pointer;
  }
}
.icon {
  margin-inline: 10px;
}
button {
  margin-right: 10px;
}
